body {
    margin: 0;
    padding: 0;
}

#game {
    left: 20%;
    position: absolute;
    top: 20%;
    width: 200px;
    height: 400px;
    background-color: #fafaff;
    border: 1px solid blue;
    border-top: none;
}

#next {
    position: absolute;
    top: 20%;
    left: 36%;
    width: 80px;
    height: 80px;
    background-color: #fafaff;
    border: 1px solid blue;
}

#info {
    background: #ccc;
    position: absolute;
    top: 35%;
    left: 36%;
}

.none, .current, .done {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.none {
    background-color: #fafaff;
}
.current {
    background-color: #f60;
    border: 1px solid #f00;
}
.done {
    background-color: #ccc;
    border: 1px solid #000;
}